@media screen and (max-width: 480px) {
  footer .content {
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    text-align: center;
  }
  .container {
    padding: 0 1.7rem;
  }
}

@media screen and (max-width: 768px) {
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .hamburger,
  .sm-close {
    display: block;
  }

  nav ul {
    display: none;
  }
  .list {
    position: absolute;
    top: 6rem;
    right: 1.5rem;
    flex-direction: column;
    background-color: lightgray;
    border-radius: 12px;
    display: flex;
    z-index: 200;
    gap: 1rem;
    padding: 1rem;
  }

  .hero {
    padding: 11rem 0;
    height: auto;
  }

  .hero-main {
    gap: 2rem;
  }

  .hero-main .hero-image {
    justify-self: center;
  }

  .hero-main .hero-text p {
    padding: 0;
    padding-top: 1.5rem;
  }

  .hero-text span {
    gap: 1rem;
    justify-content: center;
    margin-top: 1.5rem;
  }

  .skills {
    flex-direction: column;
    position: static;
    padding: 2rem 0;
  }

  .skills p {
    border-bottom: 2px solid rgba(45, 46, 50, 0.5);
    border-right: none;
    margin-bottom: 2rem;
    margin-right: 0;
    padding-bottom: 1rem;
    padding-right: 0;
  }

  .skills ul {
    justify-content: center;
  }

  #project p,
  #contact p {
    font-size: 1.1rem;
    line-height: 1.6;
  }

  .hero .hero-main,
  #streamify,
  #eatfit,
  #netflix {
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-items: center;
    text-align: center;
    padding: 2rem 1rem;
  }

  .hero-main .hero.image,
  #netflix .project-image {
    order: 1;
  }
  .hero-main .hero-text,
  #netflix .project-text {
    order: 2;
  }


  #resume{
  padding:0rem;
  }

  .resume-content{
    text-align: center;
  }

  .contact-content {
    align-items: center;
  }

  .contact-detail,
  .contact-box,
  .contact-detail {
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    text-align: center;
  }
  .work-emoji,
  .img-side span {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .skill ul {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  #about {
    padding: 4rem 0;
  }

  .about-content {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    margin-top: 1rem;
  }
  #contact {
    padding: 4rem 0;
  }
  .text-side {
    margin: 0 auto;
    max-width: 54rem;
    padding: 0 1rem;
  }
}
