
@media only screen and (width<=768px){

nav ul{
    display: none;
}

.sm-hamburger{
  display: block;
}

.sm-hamburger:hover{
    color: #147efb;
    cursor: pointer;
}

.sm-close:hover{
    color:#147efb;
    cursor: pointer;
}

.sm-close{
 display: block;
}

.list{
    position: absolute;
    top: 6rem;
    right:1.5rem;
    flex-direction: column;
    background-color:lightgray;
    border-radius: 12px;
    display: flex;
    z-index: 200;
    gap:1rem;
    padding:1rem;
}


main{
  padding:12rem 2rem;
  position: relative;
}

.hero .hero-main{
    display: grid;
    grid-template-columns: 1fr;
  text-align: center;
  gap: 3rem;
}

.hero-main .hero-image{
    order: 1;
}

.hero-main .hero-text{
    order:2;
}

.skills{
    flex-direction: column;
}

.skills span{
     border-bottom: 2px solid rgba(45, 46, 50, .5);
     border-right: none;
     padding-bottom: 1rem;
     margin-bottom: 2rem;
     padding-right: 0;
     margin-right: 0;
}

.skills ul{
    justify-content: center;
}



#about .text-side{
    padding: 0 2rem;
}

#project{
    text-align: center;
}

#streamify,#eatfit,#netflix{
    display: grid;
    grid-template-columns: 1fr;
}

#netflix .project-text{
    order: 2;
}

#netflix .project-image{
    order: 1;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact .contact-detail{
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

#contact .contact-detail .mail,#contact .contact-detail .location{
    flex-direction: column;
    text-align: center;
    padding-left: 0;
}

footer .content{
    justify-content: space-between;
}

}

@media only screen and (width<=1024px){
    #about{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        gap:3rem;
    } 
}
