@media screen and (max-width: 480px) {
 
  footer .content {
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .hamburger,
  .sm-close {
    display: block;
  }

  nav ul {
    display: none;
  }
  .list {
    position: absolute;
    top: 6rem;
    right: 1.5rem;
    flex-direction: column;
    background-color: lightgray;
    border-radius: 12px;
    display: flex;
    z-index: 200;
    gap: 1rem;
    padding: 1rem;
  }
  
.hero-main .hero-image {
    justify-self: center;
}

.hero-text span {
  gap: 1.6rem;
  justify-content: center;
  margin-top: -1rem;
}
  
  .hero .hero-main,
  #streamify,
  #eatfit,
  #netflix {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }

  #netflix .project-image,
  #eatfit .project-image,
  #streamify .project-image {
    justify-self: center;
  }

  .hero-main .hero.image,
  #netflix .project-image {
    order: 1;
  }
  .hero-main .hero-text,
  #netflix .project-text {
    order: 2;
  }
  .contact-content {
    flex-direction: column;
    align-items: center;
  }
  .contact-box {
    flex-direction: column;
  }
  .contact-detail {
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    text-align: center;
  }
   .work-emoji,
  .img-side span {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .skill ul {
    justify-content: center;
  }
  .about-content {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    margin-top: 2rem;
  }
  #contact {
    padding: 8rem 0;
  }
  .text-side {
    margin: 0 auto;
    max-width: 54rem;
  }
}
