* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: large;
    background-color: whitesmoke;
    font-family:  Poppins, sans-serif;
}

h3 {
    color: #147efb;
}

a{
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: snow;
    z-index: 40;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 4rem;
    
}

nav,
.project a {
    color: black;
}

li {
    list-style-type: none;
}

nav ul {
    display: flex;
    gap:2rem
}

nav ul a{
    color:#2d2e32;
    font-weight: 600;
    transition: all .23s;
}

main {
    max-width: 70rem;
    margin: 0 auto;
    padding: 8rem 3rem;
    background-color: antiquewhite;
}

.hero .profile-image {
    border-radius: 100%;
    border: 2px solid black;
    max-width: 300px;
    max-height: 300px;
}

.hero .hero-main {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.hero-main .hero-image {
    justify-self: center;
}

.hero-main .hero-text p{
    color: #767676;
    font-family: Mulish, sans-serif;
    font-weight: 500;
    line-height: 1.6;
    padding: 1.5rem 0;
    padding-right: 2rem;
}


.hero-main .hero-text a{
    color: #2d2e32;
    padding-right: 1rem;
}

.hero-main .hero-heading {
    font-size: xxx-large;
}

.hero .skills {
    padding-top: 4rem;
    display: flex;
    align-items: center;
}

.skills .logos {
    padding-left: 4rem;
}

#about {
    padding: 15rem 0;
   display: grid;
   grid-template-columns: repeat(2,1fr);
}

#about .text-side{
 display: flex;
 flex-direction: column;
 gap: 1.5rem;
 justify-content: center;
}

.text-side h4{
    color: #2d2e32;
    font-size: larger;
    line-height: 1.4;
}

.text-side p{
    color: #767676;
    font-family: Mulish, sans-serif;
    font-weight: 500;
    padding-right:1rem;
}

#about .img-side {
    position: relative;
}

.img-side span{
    background-color: #ffff;
    border-radius: 50%;
    position: absolute;
    right: 33px;
    bottom: -33px;
    height: 12rem;
    width: 12rem;
}

.work-emoji{
    bottom: 30px;
    right:79px;
    position: absolute;
    z-index: 10;
    width: 6rem;
}

.img-side span img{
    width: 12rem;
}

#about .img-side_main-image {
    height: 350px;
    width: 400px;
    border-radius: 1.5rem;
}

#streamify,#eatfit,#netflix{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding:2rem  1rem;
}

#streamify .project-image,#netflix .project-image,#eatfit .project-image{
  justify-self: center;
  
}

#streamify .project-image img,#netflix .project-image img ,#eatfit .project-image img{
 height:250px;
 width:400px;
}

#netflix .project-text{
    order: 1;
}

#netflix .project-image{
    order: 2;
}



#streamify .project-text,#netflix .project-text,#eatfit .project-text{
    text-align: center;
}

#streamify .project-text p,#eatfit .project-text p,#netflix .project-text p{
    color:#767676;
    padding: 1.5rem 2rem;
    font-family: Mulish, sans-serif;
}

#streamify .project-text ul , #eatfit .project-text ul,#netflix .project-text ul{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1.5rem 0;
    font-weight: 600;
}


#contact{
  padding-top:5rem ;
}

#contact .contact-text{
    display: flex;
    padding-top: 3rem;
    
}

#contact .contact-text .location{
    display: flex;
    gap: 1.5rem;
}

#contact .contact-text .mail{
    display: flex;
    padding-left: 6rem;
    gap: 1.5rem;
}

#contact .contact-text .mail .detail a,#contact .contact-text .location .detail span{
  color: #767676;
}

footer {
    background-color: black;
    color: white;
}

footer .footer {
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0 ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}