* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: large;
  background-color: #fff;
  font-family: Poppins, sans-serif;
}
img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 40;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  height: auto;
  padding: 25px 40px 25px 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a,
.project a {
  color: black;
}

a:hover,
.hero span a:hover,
.project a:hover,
footer .footer-socials a:hover {
  color: #147efb;
}

li {
  list-style-type: none;
}

nav ul {
  display: flex;
  gap: 2rem;
}

nav ul a {
  color: #2d2e32;
  font-weight: 600;
  transition: all 0.23s;
}

.container {
  margin: 0 auto;
  max-width: 75rem;
  padding: 0 4rem;
}

.hamburger,
.close {
  display: none;
}

.hero {
  height: 100vh;
  background-color: #fff;
  width: 100%;
  display: flex;
  padding-top: 10rem;
}

.hero .profile-image {
  border-radius: 100%;
  border: 2px solid black;
  width: 250px;
  height: 250px;
}

.hero .hero-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero-main .hero-image {
  justify-self: end;
}

.hero-text span {
  cursor: pointer;
  display: flex;
  gap: 1.3rem;
  margin: 2.5rem 0;
}
.hero-main .hero-text {
  align-self: center;
}

.hero-text h1 {
  color: #2d2e32;
  font-size: 5.5rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.hero-main .hero-text p {
  color: #767676;
  font-family: Mulish, sans-serif;
  font-weight: 500;
  line-height: 1.6;
  padding: 1.5rem 0;
  padding-right: 2rem;
}

.hero-main .hero-text a {
  color: #2d2e32;
  padding-right: 1rem;
}

.hero-main .hero-heading {
  font-size: xxx-large;
  color: #2d2e32;
  padding-top: 2rem;
}

.hero .skills {
  padding-top: 4rem;
  display: flex;
  align-items: center;
}

.skills p {
  border-right: 2px solid rgba(45, 46, 50, 0.5);
  padding-right: 2rem;
  margin-right: 5rem;
  color: #2d2e32;
  font-family: Mulish, sans-serif;
}

.hero .skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
}

#about {
  padding: 15rem 0;
  background-color: #f9f9f9;
}

.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.container h3 {
  color: #147efb;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.text-side h4 {
  color: #2d2e32;
  font-family: Poppins, sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}

#about .text-side {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}

.text-side p {
  color: #767676;
  font-family: Mulish, sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

#about .img-side {
  position: relative;
}

.img-side span {
  background-color: #ffff;
  border-radius: 50%;
  position: absolute;
  right: 33px;
  bottom: -33px;
  height: 12rem;
  width: 12rem;
}

.img-side span img {
  width: 12rem;
}

.work-emoji {
  bottom: 30px;
  right: 79px;
  position: absolute;
  z-index: 10;
  width: 6rem;
}

#about p {
  line-height: 1.5;
}

#about .img-side_main-image {
  height: 350px;
  width: 400px;
  border-radius: 1.5rem;
}

.project {
  background-color: #fff;
  padding-top: 2rem;
}

#streamify,
#eatfit,
#netflix {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  padding: 2rem 0rem;
  text-align: center;
}
.project-image img {
  width: 100%;
  aspect-ratio: 16/9; 

  border-radius: 18px;
  border: 1px solid gray;
}

#netflix .project-text {
  order: 1;
}

#netflix .project-image {
  order: 2;
}
.project-text p {
  color: #767676;
  padding: 1.5rem 2rem;
  font-family: Mulish, sans-serif;
}
.project-text ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1.5rem 0;
  font-weight: 600;
  cursor: pointer;
}

#resume{
  margin:2rem 0;
  padding:5rem;
  background-color: #f9f9f9;;
  border-radius: 2rem;
}

#resume .resume-content{
  background-color: lightgray;
  border-radius: 12px;
  padding: 3rem; 
}

.resume .line{
  padding:1rem ;
}

.resume .line p{
  text-transform: uppercase;
}

.resume .link{
  text-decoration: underline;
  color: black;
  font-size: xx-large;

}

#contact {
  padding: 8rem 0;
  text-align: center;
}

.contact-info h4 {
  color: #2d2e32;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.contact-box {
  align-items: center;
  display: flex;
  gap: 1.5rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact-detail {
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
  margin-top: 4rem;
}

.contact-info a,
.contact-info {
  color: #767676;
  cursor: pointer;
}

footer {
  background-color: #2d2e32;
  padding: 3rem 0;
  width: 100%;
}

footer .content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

footer p {
  font-size: 1rem;
  text-align: center;
}

footer a {
  color: white;
  padding-right: 1rem;
}
