 * {
        box-sizing: border-box;
        margin: 0;
        padding: 0
   }

   body{
    font-size:large;
    background-color: whitesmoke;
   }

   h3{
    color: #147efb;
   }

   nav,.project a{
    text-decoration: none;
    color: #2d2e32;
    ;
   }

   header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color:snow;
    z-index: 40;
   }

   nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 4rem;
   ;
   }

   li{
    list-style-type: none;
   }

   nav ul{
    display: flex;
   }

   nav ul li{
      padding-left: 0.5rem;
   }

   main{
    max-width: 70rem;
    margin: 0 auto;
    padding: 6rem 2rem;
    background-color:antiquewhite
   }

   .hero .profile-image{
    border-radius: 100%;
    border:2px solid black;
    max-width:300px;
    max-height:300px;
   }

   .hero .hero-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .hero-main .hero-text{
     padding-right: 12rem;
   }

   .hero-main .hero-heading{
    font-size: xxx-large;
   }

.hero .skills{
    padding-top: 4rem ;
   display: flex;
   align-items: center;
}

.skills .logos{
    padding-left: 4rem;
}

.about{
    padding: 15rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-side{
    position: relative;
}

.about .img-side_main-image{
    height: 350px;
    width: 400px;
    border-radius: 1.5rem;
}

.img-side .work-emoji{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}


footer{
    background-color: black;
    color: white;
}

footer .footer{
    max-width: 60rem;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    align-items: center;
}


